:root {
  --aa-primary-color-rgb: 48, 108, 206 !important;
  --aa-muted-color-rgb: 83, 140, 233 !important;
}

[data-theme="dark"] {
  --aa-primary-color-rgb: 48, 108, 206 !important;
  --aa-muted-color-rgb: 83, 140, 233 !important;
}
